<ion-view view-title="Baarikierros" hide-nav-bar="true">
  <ion-content overflow-scroll="true">


    <div class="loader" ng-if="!locations">
      <ion-spinner icon="crescent"></ion-spinner>
    </div>

    <ion-list class="bar-list" ng-repeat="category in categories | orderBy : sortByDistance : false">
      <ion-item
        class="item-divider bar-list__category"
      >
        <span class="category-name">{{category}}</span>
        <span class="visited-count">
          {{getVisitedPlaces(locations[category]) / locations[category].length * 100 | number:0}}%


          <svg class="progress" width="36" height="36" xmlns="http://www.w3.org/2000/svg">
            <g>
              <circle class="circle_base" r="16" cy="18" cx="18" fill="none"/>
              <circle style="stroke-dashoffset: {{100 - (getVisitedPlaces(locations[category]) / locations[category].length * 100)}}" class="circle_animation" r="16" cy="18" cx="18" fill="none"/>
            </g>
          </svg>

        </span>
      </ion-item>

      <ion-item
        class="item-icon-right bar-list__item"
        ng-class="{visited: place.visited}"
        ng-repeat="(i, place) in locations[category]" type="item-text-wrap">
        <span class="bar-list__item__img" style="background-image:url('{{place.image || placholderBarImg}}')">
        </span>

        <span class="bar-list__item__content">
        <h2>{{place.name}}</h2>
        <p class="ion-android-pin address"> {{place.address}}</p>


        <span class="bar-list__button">
          <span class="check-visited" ng-click="toggleItem(place, category, i)">

            <span
              class="check-circle"
              ng-class="{
                success:place.visited, ready:!place.visited && locationInfos[category][i].close
              }"
            >
              <i class="checkmark ion-android-done"></i>
            </span>

<!--
            <span ng-if="place.visited" class="success">
              <i class="icon icon-success ion-android-done"></i>
            </span>

-->
            <span class="info-text" ng-if="!place.visited&&locationInfos[category][i].close">
              <span class="text ready">Check in</span>
            </span>

            <span class="info-text" ng-if="place.visited">
              <span class="text success">{{getTimeAgo(place.visitedAt)}}</span>
            </span>

            <span class="info-text" ng-if="!place.visited && !locationInfos[category][i].close">
              <span class="text">Liian kaukana</span>
            </span>

            <a ng-href="tel://{{place.phone}}" ng-if="place.phone" class="link--phone ion-android-call" ></a>

          </span>
        </span>


        <span ng-if="locationInfos[category][i].distance" class="bar-list__distance">
          {{locationInfos[category][i].distance}} km
        </span>
      </span>
      </ion-item>
    </ion-list>


  </ion-content>
</ion-view>
