.footer {
  max-width: 100%;
  border-top: 1px solid rgba(0,0,0,.075);
  margin: 50px 20px 0;
  padding: 30px 20px;
  text-align: center;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;


  color: #888;


  .logo {
    height: 34px;
    width: auto;
    display: inline-block;
    opacity: 0.4;
    margin-bottom: 5px;
  }
}
