.map-settings {
  position: absolute;
  left: 0;
  right: 0;
  opacity: 1;
  top: 0;
  z-index: 3;
  .item {
    background: rgba(250,250,250,.9);
    border: none;
  }
}

#map {
  overflow: hidden;
  min-height: calc(100vh - 52px);
  position: absolute;
  top:0px;
  left: 0;
  right: 0;
  bottom: 0;
  background: $stable;
}
